* {
  margin: 0;
  padding: 0;
}

img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
}

.errorMessage {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  color: red;
  font-size: 30px;
}